<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Landing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/general.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">SportsApp</a>
    
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">RSS News</h5>
                    <p class="card-text">See news for TOP 5 leagues.</p>
                    <a href="../news" class="btn btn-primary">Go to News</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Leagues</h5>
                    <p class="card-text">See list of all leagues.</p>
                    <a href="../leagues" class="btn btn-primary">Go to Leagues</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teams</h5>
                    <p class="card-text">See list of all teams.</p>
                    <a href="../teams" class="btn btn-primary">Go to Teams</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                    <p class="card-text">See list of all players.</p>
                    <a href="../players" class="btn btn-primary">Go to Players</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Countries</h5>
                    <p class="card-text">See list of all countries.</p>
                    <a href="../countries" class="btn btn-primary">Go to Countries</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">Admin interface for fetching data.</p>
                    <a href="../admin" class="btn btn-primary">Go to Admin</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>