<!DOCTYPE html>
<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1-dist/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/general.css}"/>
</head>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/">SportsApp</a>

        <div class="collapse navbar-collapse" countryId="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/countries"> Countries </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/leagues"> Leagues </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/teams"> Teams </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/players"> Players </a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
                    <a class="nav-link" href="/admin"> Admin </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item active">
                    <a class="nav-link" href="/login"> Login </a>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" countryId="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item active">
                    <span class="nav-link">
                        <span sec:authentication="name"></span> |
                    </span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout"> Logout </a>
                </li>
            </ul>
        </div>
    </nav>
</html>