<!DOCTYPE html>
<html th:fragment="header" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1-dist/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/general.css}"/>
</head>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/">SportsApp</a>

        <div class="collapse navbar-collapse" countryId="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/countries/"> Countries </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/leagues/"> Leagues </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/teams/"> Teams </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/players/"> Players </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/"> Admin </a>
                </li>
            </ul>
        </div>
    </nav>
</html>